doctype html
html(lang='en')
  head
    script(src='../dist/main.js', type='text/javascript')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Best task manager ever!
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.sticy-top
      .container-fluid
        .navbar-brand Task Manager
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.active(href='/') Home
            li.nav-item
              a.nav-link(href='/login') Log in
            li.nav-item
              a.nav-link(href='/signup') Sign up
    br
    br
    block content
    footer.mastfoot.mt-auto
