doctype html
html(lang='en')
  head
    script(src='/dist/main.js', type='text/javascript')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Best task manager ever!
  body
    .max-vw-42.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-2
        .inner
          h3.mb-0.float-left Task manager
          ul.nav.justify-content-center
            li.nav-item
              a.nav-link.active(href='/') Home
            li.nav-item
              a.nav-link(href='/login') Log in
            li.nav-item
              a.nav-link(href='/signup') Sign up
      block content
      footer.mastfoot.mt-auto
