doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    title Best task manager ever!
  body
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand Task manager
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href='#') Home
      main.inner.cover(role='main')
        h1.cover-heading Nezabudka.
        p.lead
        p.lead
          | Nezabudka &ecy;&tcy;&ocy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &zcy;&acy;&dcy;&acy;&chcy;&acy;&mcy;&icy;. &Ocy;&ncy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&iecy;&tcy; &vcy;&scy;&iecy;, &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&iecy; &dcy;&lcy;&yacy; &pcy;&ocy;&vcy;&scy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy;&gcy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;, &fcy;&ucy;&ncy;&kcy;&tscy;&icy;&icy;.
        a.btn.btn-lg.btn-secondary(href='#') &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy;.
        p
      footer.mastfoot.mt-auto
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    // script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    // script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    // script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='/dist/main.js', type='text/javascript')
