extends /layouts/application.pug

block content
  if currentUserId
    h1 Здесь будут задачи.
  else
    .col-lg-8.mx-auto
      main(role='main')
        h1 Nezabudka.
        p
          p.lead
          | Nezabudka &ecy;&tcy;&ocy; &scy;&iecy;&rcy;&vcy;&icy;&scy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &zcy;&acy;&dcy;&acy;&chcy;&acy;&mcy;&icy;. &Ocy;&ncy; &pcy;&rcy;&iecy;&dcy;&lcy;&acy;&gcy;&acy;&iecy;&tcy; &vcy;&scy;&iecy;, &ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&ycy;&iecy; &dcy;&lcy;&yacy; &pcy;&ocy;&vcy;&scy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy;&gcy;&ocy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;, &fcy;&ucy;&ncy;&kcy;&tscy;&icy;&icy;.
          br
          br
          a.btn.btn-lg.btn-secondary(href='/signup') &Zcy;&acy;&rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy;
          p
