extends /layouts/application.pug

block content
  .row.justify-content-center.pb-5.mt-5.text-center
    .col-12.col-sm-8.col-md-7.col-lg-4
      .card.shadow.border-top.border-primary
        .card-body
          h1.h3.mb-3.font-weight-normal Edit task
          +formFor(f, { url: urlFor('updateTask', { id: task.id }), method: 'patch' })
            +input(f, 'name', 'inputname', { as: 'text' })
            +textarea(f, 'description', 'inputDescription', { as: 'text' })
            +input(f, 'tagsNames', 'inputTags', { as: 'text' })
            +select('form[assignedToId]', 'assignedToId', users, 'fullName')
            +select('form[taskStatusId]', 'taskStatusId', statuses, 'name')
            br
            +button(f, 'submit', 'Save')
