extends /layouts/application.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.h3.mb-3.font-weight-normal Edit task
        +formFor(f, { url: urlFor('updateTask', { id: task.id }), method: 'patch' })
          +input(f, 'name', 'inputname', { as: 'text' })
          +textarea(f, 'description', 'inputDescription', { as: 'text' })
          +input(f, 'tagsNames', 'inputTags', { as: 'text' })
          +select('form[assignedToId]', 'assignedToId', users, 'fullName')
          +select('form[taskStatusId]', 'taskStatusId', statuses, 'name')
          br
          +button(f, 'submit', 'Save')
