extends /layouts/application.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.h3.mb-3.font-weight-normal Create task
        +formFor(f, { url: urlFor('createTask'), method: 'post' })
          +input(f, 'name', 'inputname', { as: 'text' })
          +textarea(f, 'description', 'inputDescription', { as: 'text' })
          +input(f, 'tags', 'inputTags', { as: 'text' })
          +select('assignedTo', 'assignedToId', users, 'fullName')
          +select('taskStatus', 'taskStatusId', statuses, 'name')
          br
          +button(f, 'submit', 'Create new task')
