extends /layouts/application.pug

block content
  .row.justify-content-center
    .card
      .card-body
        h1.h3.mb-3.font-weight-normal Create task
        +formFor(f, { url: urlFor('createTask'), method: 'post' })
          +input(f, 'name', 'inputname', { as: 'text' })
          +textarea(f, 'description', 'inputDescription', { as: 'text' })
          +input(f, 'tags', 'inputTags', { as: 'text' })
          +select('form[assignedToId]', 'assignedToId', users, 'fullName')
          +select('form[taskStatusId]', 'taskStatusId', statuses, 'name')
          br
          +button(f, 'submit', 'Create new task')
