extends /layouts/application.pug

block content
  a.btn.btn-primary(href=urlFor('newStatus')) Create status
  
  table.table
    thead
      tr
        th name
    tbody
      each status in statuses
        tr
          td= status.name
          td
            a.btn.btn-primary.btn-danger(href=urlFor('deleteStatus', { id: status.id }) data-method='delete' rel='nofollow') Delete
            
