extends /layouts/application.pug

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.h3.mb-3.font-weight-normal Create Account
        form(method='POST' action='/users')
          label.sr-only(for='inputFirstName') First Name
          input#inputFirstName.form-control(type='text', placeholder='First Name', name='firstName')
          label.sr-only(for='inputLastName') Last Name
          input#inputLastName.form-control(type='text', placeholder='Last Name', name='lastName')
          label.sr-only(for='inputEmail') Email
          input#inputEmail.form-control(type='email', placeholder='Email address', name='email')
          label.sr-only(for='inputPassword') Password
          input#inputPassword.form-control(type='password', placeholder='Password', name='password')
          br
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Create New Account
