extends /layouts/application.pug

block content
  .col-sm-4.mx-auto
    form.form-signin
    img.mb-4(src='{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
    h1.h3.mb-3.font-weight-normal Create Account
    label.sr-only(for='inputEmail') Name
    input#inputName.form-control(type='Name', placeholder='Name', required='', autofocus='')
    label.sr-only(for='inputEmail') Email
    input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
    label.sr-only(for='inputPassword') Password
    input#inputPassword.form-control(type='password', placeholder='Password', required='')
    br
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Create New Account
